---
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description | split: ' ' | join: ' ' }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="shortcut icon" href="//www.zerocracy.com/logo.svg"/>
    <title>{{ page.title }}</title>
    {% if page.date %}
      <meta name="article:published_time" content="{{ page.date }}"/>
    {% endif %}
  </head>
  <body>
    <section>
      <header>
        <nav>
          <ul>
            <li>
              <a href="https://www.zerocracy.com">
                <img src='http://www.zerocracy.com/logo.svg'/>
              </a>
            </li>
            <li>
              Zerocracy Audit<br/>
              Is For Those Who Care
            </h1>
          </ul>
        </nav>
      </header>
      <article>
        {{ content }}
      </article>
      <footer>
        <nav>
          <ul>
            <li>
              <a href='https://twitter.com/0crat'>Twitter</a>
            </li>
            <li>
              <a href='https://instagram.com/zerocracy/'>Instagram</a>
            </li>
            <li>
              <a href='https://www.facebook.com/zerocracy/'>Facebook</a>
            </li>
            <li>
              <a href='https://www.youtube.com/channel/UCxZAzmY_OPw40I1-YStWqhw'>YouTube</a>
            </li>
            <li>
              <a href='https://t.me/zerocracy'>Telegram</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              <a href='mailto:audit@zerocracy.com'>audit@zerocracy.com</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li>
              Palo Alto, CA
            </li>
          </ul>
        </nav>
      </footer>
    </section>
  </body>
</html>
